body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-bg);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-size: 1.5rem;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
}

button:hover {
  background-color: var(--secondary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}
